
@{
    ViewData["Title"] = "Start";
    User user = (User)ViewData["user"];
    MsgClass mc = (MsgClass)ViewData["msg"];
    string gender = "";
    if (user != null)
    {
        if (user.Gender == 1)
        {
            gender = "male";
        }
        else
        {
            gender = "female";
        }
    }

}

<h1>Start</h1>
<p>@mc.Msg</p>
<table>
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                name
            </th>
            <th>
                gender
            </th>
            <th>
                birth
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @if (user != null)
                {
                    @string.Format("{0:00000}", user.Id)
                }
            </th>
            <th>
                @if (user != null)
                {
                    @user.Name
                }
            </th>
            <th>
                @if (user != null)
                {
                    @gender
                }
            </th>
            <th>
                @if (user != null)
                {
                    @user.Birth
                }
            </th>
        </tr>
    </tbody>
</table>
<a asp-controller="Regist" asp-action="Index">Regist</a>